# Mac OS
*.DS_Store

# Datasets
raw_data/
datasets/
*.tar
*.zst
*.jsonl


# Checkpoints
meta_checkpoints/*
checkpoints/*


# logs
__pycache__/
*.py[cod]
*$py.class


# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version
