torch>=2.0.0
sentencepiece
tqdm  # convert_checkpoint.py
numpy  # train.py dataset memmap

tensorboard
torch_tb_profiler==0.4.1

bitsandbytes  # quantization.py

# datasets  # evaluate.py
# zstandard  # prepare_redpajama.py
